@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 8fr;
  background-color: #161616;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

#form {
  color: #fff;
  background-color: #A33327;
  padding: 30px;
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 10px;
}

#form > input {
  color: #fff;
  background-color: #161616;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

#form > p {
  margin: 10px 0;
}

input[type="radio"] + label {
  margin: 0 10px;
}

.submitBtn {
  color: #fff;
  background-color: #161616;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  margin-top: 5px;
}

.submitBtn:hover {
  color: #161616;
  background-color: #fff;
}

.todo {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #917164;
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
  margin: 10px;
  width: 100%;
  max-width: 700px;
  grid-column: 2 / -1;
}

.todo > .title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.index {
  display: none;
}

.closeBtn {
  height: 20px;
  width: 20px;
  background-color: #C7493A;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.closeBtnForm {
  height: 20px;
  width: 20px;
  background-color: #C7493A;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.closeSideBtn {
  height: 25px;
  width: 25px;
  background-color: #161616;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.todo > .todo-footer {
  display: flex;
  justify-content: space-between;
  color: #161616;
  margin: 10px 0 0 0;
  font-size: 12px;
}

.todoCategory {
  color: #161616;
  font-size: 12px;
}

.sidebar {
  height: 100%;
  min-width: 300px;
  background-color: #C7493A;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.addCategory {
  color: #fff;
  background-color: #161616;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
}

.addCategory:hover {
  background-color: #fff;
  color: #161616;
}

.sidebar-title {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: bold;
  color: #161616;
  margin: 10px 0;
  font-family: 'Fredoka One', cursive;
}

.addTodo {
  font-size: 22px;
  background-color: #28a745;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px 10px 0;
  border: 2px solid white;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 83, 83, 0.5);
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  width: 100%;
}

ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

ul > li > p{
  color: #ffffff;
  background-color: #161616;
  padding: 5px 20px;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  margin: 0px 5px 0 0;
  text-transform: capitalize;
}

.allCategoriesP, .todayCategoriesP, .weekCategoriesP {
  margin: 0;
}

select {
  color: #fff;
  background-color: #161616;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

.mobileSidebar {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 100%;
  height: 7%;
  background-color: #C7493A;
}

.sidebar-img {
  position: fixed;
  margin-right: 10px;
  right: 0;
  width: 30px;
}

.closeBtnDiv {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 630px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }

  .mobileSidebar {
    position: fixed;
    top: auto;
    left: auto;
    width: 100%;
    height: 7%;
    background-color: #C7493A;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-style: italic;
    color: #fff;
    letter-spacing: 3px;
  }

  .mobileSidebar > h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
  }
}